.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.user__avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid rgb(201, 46, 140);
} 

.user div {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

.min {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 0;
}

.min div {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
}




